.gridContainer{
display: flex;
flex-direction: column;
}

.gridGuessItems{
  display:flex;
  flex-direction: row;
}

.gridItemWrong {
  width: 5rem;
  height: 5rem;
  background-color: #c61212;
  color: black;
  border: 1px solid black;
}

.gridItemRight {
  width: 5rem;
  height: 5rem;
  background-color: #1aca1a;
  color: black;
  border: black;
}
