/* Over arching styling  */
.width select {
  width: 75%;
  height: 2rem;
}
.width {
  margin: 1rem;
  width: 100vw;
}

/* End of over arching block */
.playAgainButton {
  font-size: large;
}

/* .labels {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
} */

.labels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 0.8rem;
}

.labels :first-child {
  margin-right: 10%;
}
.hidden {
  display: none;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.gridGuessItems {
  display: flex;
  align-self: center;
}

.gridItemWrong {
  display: flex;
  width: 24vw;
  height: 5rem;
  background-color: #c61212;
  color: rgb(250, 241, 241);
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}

.gridItemRight {
  display: flex;
  width: 24vw;
  height: 5rem;
  background-color: #1aca1a;
  color: black;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}

@media screen and (min-width: 478px) {
  section select {
    width: 24%;
  }
  .width select {
    width: 75%;
  }
  .width {
    margin: 0.3rem;
    width: 90%;
  }

  .labels {
    font-size: 1rem;
  }

  .gridGuessItems {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .gridItemWrong {
    width: 8rem;
    font-size: 0.8rem;
  }
  .gridItemRight {
    width: 8rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 640px) {
  .width {
    width: unset;
  }
}
