.header h1{
    font-size: 2.8rem;
    margin: 2rem;
    font-weight: 900;
}
.header h2{
 display: flex;
 justify-content: space-evenly;
 margin-bottom: 0;
}

@media screen and (min-width: 478px){
    .header h1{
        font-size: 4.5rem;
    }
  }
  @media screen and (min-width: 600px){
    .header h1{
        font-size: 5rem;
    }
  }