.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image presentation  */
.primary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.image-container {
  width: 95vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* End image presentation */

@media screen and (min-width: 478px){
  .image-container {
    width: 50vw;
    height: 50vh;
  }
}